@import '../styles/theme.scss';

.header {
  height: 54px;
  background-color: $yellow-main;
  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 32px;

  h1 {
    font-size: 23px;
    color: #000;
  }
}

.container { 
  width: 100%;
  max-width: 1180px;
  padding: 0 16px;
  margin: 0 auto;
}

.content {
  margin-top: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contentMain {
  text-decoration: none;

  h2 {
    font-weight: 700;
    font-size: 58px;
    line-height: 60px;
    color: $black;
  }

  strong {
    font-size: 12px;
    line-height: 16px;
    color: $economy-color;
  }
}

.contentWithImg {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
  }

  strong {
    display: block;
    margin: 8px 0px;
    &.educacao {
      color: $education-color;
    }

    &.diversidades {
      color: $diversity-color
    }
  }

  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $black;
  }
}

.sectionSecondary {
  padding: 64px 0;

  .secondary {
    display: flex;
    flex-wrap: wrap;

    a {
      position: relative;
      width: 25%;
      text-decoration: none;
      color: #000;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;      
      padding-left: 10px;
      margin-top: 20px;
      height: 50px;

      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 5px;        
        height: 50px;
      }

      &.economia {
        &::after {
          background-color: $economy-color;
        }
      }

      &.educacao {
        &::after {
          background-color: $education-color;
        }
      }
  
      &.diversidades {
        &::after {
          background-color: $diversity-color
        }
      }
    }
  }

}