@import '../styles/theme.scss';

.header {
  height: 54px;
  background-color: $yellow-main;
  display: flex;

  align-items: center;
  justify-content: center;

  h1 {
    font-size: 23px;
    color: #000;
  }
}

.container { 
  width: 100%;
  max-width: 1180px;
  padding: 0 16px;
  margin: 0 auto;
}