@import '../../../styles/theme.scss';

.header {
  height: 54px;
  background-color: $yellow-main;
  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 32px;

  h1 {
    font-size: 23px;
    color: #000;    
  }
}

.headerBack {
  height: 54px;
  background-color: $yellow-main;
  display: flex;
  margin-bottom: 32px;
  position: relative;

  align-items: center;
  justify-content: center;


  a {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $black;
    height: 100%;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 23px;
    color: #000;
  }
}